@(message: String)

@main("Travel Buddy - Create A New Trip", "my-bucket-items") {
        <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5 text-left">Create a Trip Bucket Item</h1>
                <div class="mt-5">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/my-bucket-items">Bucket Items</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create Bucket Item</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>

        <div class="row" style="padding-top: 50px;">
            <div class="col-lg-12">
                <form>
                    <label><h2>Set Details</h2></label>
                    <div class="form-group" style="padding-top: 20px;">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="item-name">
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="item cost">
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pick a Trip
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pick a Trip Place
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pick a Bucket
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="$ Cost">
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                        <button type="submit" class="btn btn-info">CREATE</button>
                    </div>

                </form>
            </div>
        </div>

    </div>


}




