@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>
        <link href="@routes.Assets.versioned("bootstrap_4.0/css/bootstrap.css")" rel="stylesheet">

    </head>

    <body>

        @content

            <!-- Bootstrap core JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/jquery/jquery.slim.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bootstrap_4.0/js/bootstrap.bundle.js")" type="text/javascript"></script>

    </body>

</html>