@import play.api.libs.json.JsValue
@(profileData: JsValue)

@main("Travel Buddy - Profile Page", "profile") {
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="card" style="width: 15rem;">
                    <div class="card-body" style="margin: auto;">
                        <h5 class="card-title" >@((profileData \ "name").as[String])</h5>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
}